@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.heading ul {
    display: flex;
  }

header {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
}
.header-image {
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
}
.header-image img {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
    font-size: larger;
}
.nav-bar {
    list-style: none;
    font-weight: lighter;
    display: flex;
    gap: 1.5rem;
}
.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
}
.logo {
    width: 20vw;
}
.head h3 {
    font-size: 2.1rem;
    color: whitesmoke;
    font-weight: 400;
}
.search {
    display: flex;
    width: 55vw;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    background: white;
    padding: 5px 4px
}
.search .search-item{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.search .search-item p {
    color: gray;
    border-right: 1px solide gray;
    font-size: 15px;
    margin-right: 10px;
    padding-left: 10px;
}
.search .search-item input {
    outline: none;
    margin-bottom: 4px;
    border: none;
    width: 200%;
    padding-left: 10px;
    font-size: 15px;
}
.search .search-item:first-child{
    width: 30%;
    color: rgb(255, 126, 139);
}
.search .search-item:last-child{
    width: 70%;
    color: gray;
}

/* SECTION 1 */
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.section-1 .section-1-item {
    position: relative;
    /* width: 300px; */
    width: 15rem;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    border: 1px solid rgb(228, 228, 228);
}
.section-1 .section-1-item img {
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 15px;
    z-index: -1;
}
.section-1 .section-1-item .items-details {
    position: absolute;
    bottom: 1px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 25%;
}
.section-1 .section-1-item .items-details p {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.7px;    
}
.section-1 .section-1-item:hover {
    box-shadow: 0px 1px 2px rgba(207, 207, 207, 0.5);
    transition: all 0.1s;
}
.section-1 :hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    border-radius: 8px;
    cursor: auto;
}


/* SECTION 2 */
.section-2 {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.section-2-heading {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
}
.section-2 .section-2-container .section-2-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-2 .section-2-container .section-2-items .section-2-item {
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
}
.section-2-item {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(236, 236, 236);
    padding: 20px;
}
.section-2-item .item-head {
    font-size: 1.2rem;
    color: rgb(28, 28, 28);
    margin: 0;
    margin-bottom: 5px;
}
.section-2-item .item-subhead {
    font-weight: lighter;
    color: rgb(51, 51, 51);
    margin: 0;
}

/* SECTION 3 */
.section-3 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
  }
  .section-3 .container .items {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 12px;
  }
  .section-3 .container .items .name {
    text-align: center;
    background-color: rgb(240, 197, 6);
    height: 25px;
    padding-top: 4px;
    color: white;
    margin: 0;
  }
  .section-3 .container .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: rgb(255, 0, 0);
    font-weight: 650;
  }
  .section-3 .container .items .info {
    padding-left: 10px;
    color: rgb(243, 168, 7);
  }
  .section-3 .container .items .img img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
  }
  .section-3 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section-3 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
  }
/* FOOTER */
footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a {
    color: #00fd81;
    transition-duration: 1s;
    font-weight: 800;
    font-size: 0.5in;
    text-decoration: none;
  }
  .logo a:hover {
    color: yellow;
    transition-duration: 1s;
  }
  .heading ul li {
    list-style: none;
  }
  .heading ul li a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
    transition-duration: 1s;
  }
  .heading ul li a:active {
    color: red;
  }
  .heading ul li a:hover {
    color: rgb(255, 179, 0);
    transition-duration: 1s;
  }
  
  .heading ul li a::before {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    transition-duration: 1s;
  }
  .heading ul li a:hover::before {
    width: 100%;
    transition-duration: 1s;
    background-color: rgb(0, 204, 255);
  }
.nav :hover{
    color: rgb(220, 51, 144);
    cursor: pointer;  
}
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: white;
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .social-media a ion-icon {
    color: white;
    background-color: black;
  }
  .social-media a:hover ion-icon {
    color: red;
    transform: translateY(5px);
  }
  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(243, 168, 7);
    cursor: none;
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
    color: rgb(243, 168, 7);
    cursor:context-menu;
  }
  .footer2 .div:hover {
    transform: scale(1.05);
    cursor:progress;
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }
  .menu {
    visibility: hidden;
  }
  .heading1 .ham:active {
    color: red;
  }
  .items {
    overflow: hidden;
  }
  .ham,
  .close {
    cursor: pointer;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    border-radius: 5px 5px 5px 5px; 
    color: black;
    padding: 14px 20px;
    margin: -8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
  }
  

  .close {
 
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
/* hello */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: -7px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtns {
  padding: 14px 20px;
  background-color: #f44336;
  margin-bottom: 20px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtns, .signupbtns {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.containers {
  padding: 16px;
}

/* The Modal (background) */
.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-contents {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.closes {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.closes:hover,
.closes:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfixs::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}